html, body {
  height: 100%;
  margin: 0;
  overscroll-behavior-y: contain;
}
body {
  overflow: hidden;
}
body.dragging {
  cursor: grabbing;
}
body.dragging * {
  user-select: none;
  pointer-events: none;
}